@import "tailwindcss";

@theme {
  --color-accent: #f54900;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-accent: var(--font-instrument-serif);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-neutral-300) transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-600);
  border-radius: 9999px;
}
